<div class="flex flex-col justify-center items-center w-full">
  <!-- <h1 class="text-2xl md:text-3xl font-bold text-neutral-900">
      Olá <span class="text-primary">!</span>
    </h1> -->
  <h1 *ngIf="!hasCpf" class="text-lg md:text-xl lg:text-2xl font-bold text-neutral-900 text-center">
    Vamos começar verificando como anda sua <span class="text-primary_color/50">inscrição</span>.
  </h1>
  <h1 *ngIf="hasCpf" class="text-lg md:text-xl lg:text-2xl font-bold text-neutral-900 text-center">
   Preencha todos os seus <span class="text-primary_color/50">dados</span>.
  </h1>

  <form [formGroup]="form" class="w-full">
    <div class="relative mt-16 w-full">
      <eels-input
        label="CPF"
        typeInput="text"
        [controlForm]="form.controls.cpf"
        mask="000.000.000-00"
      ></eels-input>
    </div>
    <ng-container *ngIf="hasCpf">
      <div class="relative mt-2 w-full">
        <eels-input
          label="Nome Completo"
          typeInput="text"
          [controlForm]="form.controls.nome"
        ></eels-input>
      </div>
      <div class="relative mt-2 w-full flex flex-col md:flex-row">
        <div class="flex flex-col md:flex-row gap-4 w-full">
          <eels-input
            class="w-full"
            label="Nome do Crachá"
            typeInput="text"
            [controlForm]="form.controls.cracha"
          ></eels-input>
        </div>
        <div class="flex flex-col md:flex-row gap-4 w-full justify-center">
          <eels-radio
            [options]="['Masculino', 'Feminino']"
            [controlForm]="form.controls.sexo"
          ></eels-radio>
        </div>
      </div>
      <div class="relative mt-2 w-full">
        <eels-input
          label="Celular"

          typeInput="text"
          [controlForm]="form.controls.cel"
          mask="(00) 0 0000-0000"
        ></eels-input>
      </div>
      <div class="relative mt-2 w-full">
        <eels-input
          label="E-mail"

          typeInput="text"
          [controlForm]="form.controls.email"
        ></eels-input>
      </div>
      <div class="relative mt-2 w-full">
        <eels-input
          label="Igreja a qual pertence (nome completo)"
          typeInput="text"
          [controlForm]="form.controls.igreja"
        ></eels-input>
      </div>
      <div class="relative mt-2 w-full">
        <eels-select
          label="Equipe"
          [options]="equipeOptions"
          typeInput="text"
          [controlForm]="form.controls.equipe"
        ></eels-select>
      </div>
      <div class="relative mt-2 w-full">
        <eels-input
          label="Rede Social"
          typeInput="text"
          [controlForm]="form.controls.redeSocial"
        ></eels-input>
      </div>

    </ng-container>

    <eels-progress-bar *ngIf="loading"></eels-progress-bar>
    <eels-button
      [text]="hasCpf ? buttonText2 : buttonText"
      [isDisabled]="form.invalid"
      (clickEvent)="hasCpf ? create(): validate()"
    ></eels-button>
  </form>

  <!-- <a
      class="mt-3 font-normal text-sm md:text-base text-neutral-900 cursor-pointer w-full"
      [routerLink]="['/login/sing-in']"
      >
      <span class="text-primary_color/50 font-bold">Entrar</span></a
    > -->
</div>
