<div class="w-full">
  <div class="flex flex-col justify-center items-center w-full">
    <!-- <h1 class="text-2xl md:text-3xl font-bold text-neutral-900">
        Olá <span class="text-primary">!</span>
      </h1> -->
    <h1
      *ngIf="!hasCpf"
      class="text-lg md:text-xl lg:text-2xl font-bold my-4 text-neutral-900 text-center"
    >
      Olá é um prazer ter você aqui!<br />
      <span class="text-primary_color/50">Preencha</span> os dados
      <span class="text-primary_color/50">para</span> sua
      <span class="text-primary_color/50">inscrição</span>.
    </h1>
    <h1
      *ngIf="hasCpf"
      class="text-lg md:text-xl lg:text-2xl font-bold text-neutral-900 text-center"
    >
      Preencha todos os seus
      <span class="text-primary_color/50">dados</span>.
    </h1>

    <form [formGroup]="form" class="w-full">

      <h3>Dados do Encontrista</h3>
      <div class="relative mt-2 w-full">
        <eels-input
          label="Nome Completo"
          typeInput="text"
          [controlForm]="form.controls.nome"
        ></eels-input>
      </div>
      <div class="relative mt-2 w-full flex flex-col md:flex-row">
        <div class="flex flex-col md:flex-row gap-4 w-full">
          <eels-input
            class="w-full"
            label="Nome do Crachá"
            typeInput="text"
            [controlForm]="form.controls.cracha"
          ></eels-input>
        </div>
        <div
          class="flex flex-col md:flex-row gap-4 w-full justify-center"
        >
          <eels-radio
            [options]="['Masculino', 'Feminino']"
            [controlForm]="form.controls.sexo"
          ></eels-radio>
        </div>
      </div>
      <div class="relative mt-2 w-full">
        <eels-input
          label="Data de Nascimento"
          typeInput="text"
          mask="00/00/0000"
          [controlForm]="form.controls.dataNascimento"
        ></eels-input>
      </div>
      <div class="relative mt-2 w-full">
        <eels-input
          label="Celular"
          typeInput="text"
          [controlForm]="form.controls.cel"
          mask="(00) 0 0000-0000"
        ></eels-input>
      </div>
      <div class="relative mt-2 w-full">
        <eels-input
        label="Religião"
        typeInput="text"
        [controlForm]="form.controls.religiao"
      ></eels-input>
      </div>
      <div class="relative mt-2 w-full">
        <eels-input
          label="Rede Social"
          typeInput="text"
          [controlForm]="form.controls.redeSocial"
        ></eels-input>
      </div>
      <div class="relative mt-2 w-full flex flex-col md:flex-row">
        <h4>Tem Alergia?</h4>
        <div
          class="flex flex-col md:flex-row gap-4 w-full justify-center"
        >
        <eels-radio
            [options]="['Sim', 'Não']"
            [controlForm]="form.controls.temAlergia"
          ></eels-radio>
        </div>
        <div
          class="flex flex-col md:flex-row gap-4 w-full justify-center"
        >
          <eels-input
            label="Qual?"
            typeInput="text"
            *ngIf="form.controls.temAlergia.value === 'Sim'"
            [controlForm]="form.controls.alergia"
          ></eels-input>
         </div>
      </div>
      <div class="relative mt-2 w-full flex flex-col md:flex-row">
        <h4>Tem Alguma doença?</h4>
        <div
          class="flex flex-col md:flex-row gap-4 w-full justify-center"
        >
        <eels-radio
            [options]="['Sim', 'Não']"
            [controlForm]="form.controls.temDoenca"
          ></eels-radio>
        </div>
        <div
          class="flex flex-col md:flex-row gap-4 w-full justify-center"
        >
          <eels-input
            label="Qual?"
            typeInput="text"
            *ngIf="form.controls.temDoenca.value === 'Sim'"
            [controlForm]="form.controls.doenca"
          ></eels-input>
         </div>
      </div>

      <div class="relative mt-2 w-full">
        <eels-input
          label="Rede Social"
          typeInput="text"
          [controlForm]="form.controls.redeSocial"
        ></eels-input>

      </div>
      <hr class="my-6 border-gray-300 w-full" />
      <div class="relative mt-2 w-full">
        <eels-input
          label="CEP"
          typeInput="text"
          [controlForm]="form.controls.cep"
        ></eels-input>
      </div>
      <div class="relative mt-2 w-full">
        <eels-input
          label="Rua"
          typeInput="text"
          [controlForm]="form.controls.rua"
        ></eels-input>
      </div>
      <div class="relative mt-2 w-full">
        <eels-input
          label="Número"
          typeInput="text"
          [controlForm]="form.controls.numero"
        ></eels-input>
      </div>
      <div class="relative mt-2 w-full">
        <eels-input
          label="Bairro"
          typeInput="text"
          [controlForm]="form.controls.bairro"
        ></eels-input>
      </div>
      <div class="relative mt-2 w-full">
        <eels-input
          label="Cidade"
          typeInput="text"
          [controlForm]="form.controls.cidade"
        ></eels-input>
      </div>
      <div class="relative mt-2 w-full">
        <eels-input
          label="Estado"
          typeInput="text"
          [controlForm]="form.controls.estado"
        ></eels-input>
      </div>
      <hr class="my-6 border-gray-300 w-full" />


      <div class="relative mt-7 w-full">
        <h2>Sobre os Pais adotivos</h2>
        <eels-input
          label="Nome dos Pais adotivos"
          typeInput="text"
          [controlForm]="form.controls.nomeDosPaisAdotivos"
        ></eels-input>
        <div>
          <eels-input
            label="Celular"
            typeInput="text"
            [controlForm]="form.controls.telDosPaisAdotivos"
            mask="(00) 0 0000-0000"
          ></eels-input>
        </div>
        <hr class="my-6 border-gray-300 w-full" />
      </div>


      <div class="relative mt-7 w-full">
        <h2>Quem convido você?"</h2>
        <eels-input
          label="Quem convido você?"
          typeInput="text"
          [controlForm]="form.controls.quemConvidou"
        ></eels-input>
        <div>
          <eels-input
            label="Celular"
            typeInput="text"
            [controlForm]="form.controls.telQuemConvidou"
            mask="(00) 0 0000-0000"
          ></eels-input>
        </div>
        <hr class="my-6 border-gray-300 w-full" />
      </div>







      <eels-progress-bar *ngIf="loading"></eels-progress-bar>
      <eels-button
        [text]="hasCpf ? buttonText2 : buttonText"
        [isDisabled]="form.invalid"
      ></eels-button>
    </form>

    <!-- <a
        class="mt-3 font-normal text-sm md:text-base text-neutral-900 cursor-pointer w-full"
        [routerLink]="['/login/sing-in']"
        >
        <span class="text-primary_color/50 font-bold">Entrar</span></a
      > -->
  </div>
</div>
