<div class="min-h-screen flex flex-col items-center justify-center bg-gradient-to-br from-primary_color/60  to-primary_color/30  text-center p-4">
  <div
      class=" w-full  flex flex-col justify-center items-center"
    >
      <img
        src="assets/img/logo-branco.png"
        class="animate-float w-64 lg:w-96"
      />
    </div>
  <h1 class="text-4xl font-bold text-green-900 mb-6 animate-fade-in">Resultado do Sorteio</h1>

  <div *ngIf="loading" class="text-5xl font-mono font-bold animate-pulse text-gray-700">
    {{ efeito }}
  </div>

  <div
    *ngIf="!loading && vencedor"
    class="text-[100px] font-extrabold text-green-700 animate-bounce transition duration-500"
  >
    🎉 {{ vencedor.numeroInscricao }} 🎉
  </div>

  <p *ngIf="!loading && !vencedor" class="text-gray-600 mt-4">Aguardando novo sorteio...</p>

  <div *ngIf="vencedor" class="mt-4 text-lg text-gray-700">
    Restam <span class="font-bold text-[60px] text-green-800">{{ faltam }}</span> {{ faltam === 1 ? 'nome' : 'nomes' }} para serem sorteados.
  </div>
</div>
