<div class="bg-transparent h-[100vh]">
  <app-wrapper [title]="'Lista de Encontristas'">
    <!-- <eels-table > </eels-table> -->
    <app-table
      [dataSource]="dataSource"
      [columns]="columns"
      (view)="setModal($event)"
    ></app-table>
  </app-wrapper>
</div>

<app-modal
  [isOpen]="modalAberto"
  [title]="userSelected?.avatar?.nome"
  (closed)="fecharModal()"
  class="max-w-lg"
>
  <div class="flex flex-col justify-center items-center w-full">
    <div class="w-full">
      <div class="relative flex w-full">
        <span>Nome:</span>
        <span>{{ userSelected?.avatar?.nome }}</span>
      </div>
      <div class="relative flex mt-2 w-full">
        <span class="pr-3">CPF:</span>
        <span>{{ userSelected?.cpf }}</span>
      </div>
      <div class="relative flex mt-2 w-full">
        <span class="pr-3">Nome do Crachá:</span>
        <span>{{ userSelected?.cracha }}</span>
      </div>
      <div class="relative flex mt-2 w-full">
        <span class="pr-3">Sexo:</span>
        <span>{{ userSelected?.sexo }}</span>
      </div>
      <div class="relative flex mt-2 w-full">
        <span class="pr-3">Celular:</span>
        <span>{{ userSelected?.avatar?.cel }}</span>
      </div>
      <div class="relative flex mt-2 w-full">
        <span class="pr-3">Igreja a qual pertence:</span>
        <span>{{ userSelected?.igreja }}</span>
      </div>
      <div class="relative flex mt-2 w-full">
        <span class="pr-3">Equipe:</span>
        <span>{{ userSelected?.equipe }}</span>
      </div>
      <div class="relative flex mt-2 w-full">
        <span class="pr-3">Data de Criação:</span>
        <span>{{ userSelected?.createdAt | date : "dd/MM/yyyy" }}</span>
      </div>

      <div class="relative mt-2 w-full">
        <div class="m-3" *ngIf="userSelected?.stt == 1 || userSelected?.stt == 4">
          <eels-button class="w-full" text="Confimar Pagamento" (clickEvent)="changeStt(userSelected.id,2)"></eels-button>
        </div>
        <div class="m-3" *ngIf="userSelected?.stt == 2 || userSelected?.stt == 5">
          <eels-button class="w-full " text="Confimar Carta" (clickEvent)="changeStt(userSelected.id,3)"></eels-button>
        </div>
        <div class="m-3">
          <eels-button class="w-full " text="Imprimir " (clickEvent)="printRecibo()"></eels-button>
        </div>
      </div>
    </div>

    <!-- <a
        class="mt-3 font-normal text-sm md:text-base text-neutral-900 cursor-pointer w-full"
        [routerLink]="['/login/sing-in']"
        >
        <span class="text-primary_color/50 font-bold">Entrar</span></a
      > -->
  </div>
</app-modal>


<div class="hidden" id="recibo">
  <div class="hidden">
    <div class="relative mt-16 w-full flex justify-center" >
      <img src="../../../../../assets/img/logo-preto.png" class="flex " alt="">
    </div>

  </div>
  <div class="relative mt-16 w-full flex justify-center">
    <span class="text-8xl">{{ userSelected?.numeroInscricao }}</span>
  </div>
  <div class="relative mt-2 w-full flex justify-center">
    <span class="text-xs">seu numero para o sorteio de ficha.</span>
  </div>

  <div class="relative mt-16 w-full flex justify-center">
    <h1 class="text-base font-bold text-neutral-900 text-center">
      A data do nosso EJC será dias
      <span class="text-primary_color/50">13, 14 e 15 de Junho</span>.
    </h1>
  </div>
</div>
