<!-- <div class="mb-4 flex justify-between">
  <div class="inline-block">
    <h3 class="text-foreground font-semibold">Team Members</h3>
    <div class="text-primary_color space-x-1 text-xs font-medium">
      <a href="" class="hover:text-primary">All Members:</a>
      <span class="text-foreground">49,053</span>
    </div>
  </div>
  <div class="inline-block space-x-4">
    <button
      class="bg-primary_color text-primary_color hover:text-foreground flex-none rounded-md px-4 py-2.5 text-xs font-semibold">
      Import CSV
    </button>
    <button class="bg-primary text-primary-foreground flex-none rounded-md px-4 py-2.5 text-xs font-semibold">
      Add Member
    </button>
  </div>
</div> -->

<div class=" bg-white flex min-w-full flex-col rounded-xl  p-2">
  <app-table-action></app-table-action>
  <div
    class="scrollbar-thumb-rounded scrollbar-track-rounded scrollbar-thin scrollbar-track-transparent scrollbar-thumb-primary_color grow overflow-x-auto px-5">
    <table
      class="text-primary_color table w-full table-auto border-collapse border-0 text-left align-middle leading-5">
      <thead class="border-primary_color/20 text-primary_color  text-xs">
        <tr  >
          <app-table-header class="contents" [columns]="displayToColumns"></app-table-header>
        </tr>
      </thead>
      <tbody>
        <tr class="hover:bg-card/50" *ngFor="let user of this.dataSource.items" >
          <app-table-row [columns]="displayToColumns" [user]="user" (userSelected)="viewButton($event)" class="contents"></app-table-row>

        </tr>

      </tbody>
    </table>
  </div>
  <app-table-footer></app-table-footer>
</div>
