/* CSS global ou no component.scss */
.ticket {
  width: 302px; /* 80mm em pixels para 96 DPI */
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  text-align: center;
}

.logo {
  width: 200px;
  margin: 0 auto 10px auto;
}

.title {
  font-size: 96px;
  margin-bottom: 10px;
}


.footer {
  margin-top: 20px;
  font-size: 12px;
}


.title-secundary{
  font-size: 0.75rem /* 12px */;
    line-height: 1rem
}
