/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@angular/material/theming";
@include mat-core();
$my-app-primary: mat-palette($mat-blue-grey);
$my-app-accent: mat-palette($mat-pink, 500, 900, A100);
$my-app-warn: mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* ------------------------------------------------------------------------- */
/*  Snackbar
/* ------------------------------------------------------------------------- */

/* Info */
// .snackbar-type-fill-info {
//   @apply bg-gray-600;
// }

// /* Success */
// .snackbar-type-fill-success {
//   @apply bg-green-600;
// }

// /* Error */
// .snackbar-type-fill-error {
//   @apply bg-red-600;
// }

// .snackbar-type-fill-info, .snackbar-type-fill-success, .snackbar-type-fill-error {
//   @apply text-white;
// }

// /* Appearance Outline: */
// /* Info */
// .snackbar-type-outline-info {
//   @apply bg-gray-100 ring-1 ring-gray-400 ring-inset;
//   @apply text-gray-700;
// }

// /* Success */
// .snackbar-type-outline-success {
//   @apply bg-green-50 ring-1 ring-green-400 ring-inset;
//   @apply text-green-700;
// }

// /* Error */
// .snackbar-type-outline-error {
//   @apply bg-red-50 ring-1 ring-red-400 ring-inset;
//   @apply text-red-700;
// }

// /* Appearance Soft: */
// /* Info */
// .snackbar-type-soft-info {
//   @apply bg-gray-100;
//   @apply text-gray-700;
// }

/* Success */
.snackbar-type-soft-success {
  @apply bg-primary_color;
}

/* Error */
.snackbar-type-soft-error {
  @apply bg-danger-600;
  @apply text-white;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// Importações
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import 'tailwindcss';
@import './assets/styles/apexchart.css';

// Plugins Tailwind
// @use "tailwindcss/forms";
// @use "tailwindcss/typography";
// @use "tailwindcss/aspect-ratio";
// @use "tailwind-scrollbar";

// Variáveis customizadas
:root {
  --font-poppins: Poppins, system-ui, sans-serif;
  --font-nunito: 'Nunito Sans', sans-serif;

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --animate-fade-in-down: fade-in-down 0.3s ease-out;
  --animate-fade-out-down: fade-out-down 0.3s ease-out;
  --animate-fade-in-up: fade-in-up 0.3s ease-out;
  --animate-fade-out-up: fade-out-up 0.3s ease-out;

  --shadow-custom: 0px 0px 50px 0px rgb(82 63 105 / 15%);

  --color-border: var(--border);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
}

@keyframes wiggle {
  0%, 100% { transform: rotate(-3deg); }
  50% { transform: rotate(3deg); }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out-down {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out-up {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

// Utilitários personalizados
.container {
  padding-inline: 1rem;

  @media (min-width: theme('screens.sm')) {
    padding-inline: 2rem;
  }
  @media (min-width: theme('screens.lg')) {
    padding-inline: 4rem;
  }
  @media (min-width: theme('screens.xl')) {
    padding-inline: 5rem;
  }
  @media (min-width: theme('screens.2xl')) {
    padding-inline: 6rem;
  }
}

// .dropdown-content {
//   @apply pointer-events-none scale-95 opacity-0 duration-100 ease-in;

//   .dropdown:hover & {
//     @apply pointer-events-auto block scale-100 animate-fade-in-up opacity-100 duration-200;
//   }
// }

// .dropdown {
//   &:hover > .dropdown-content {
//     @apply pointer-events-auto block scale-100 animate-fade-in-up opacity-100 duration-200;
//   }
// }

// Estilização base
@layer base {
  *, ::after, ::before, ::backdrop, ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

// Temas

// Formulários customizados
// input[type='text'],
// input[type='email'],
// input[type='url'],
// input[type='password'],
// input[type='number'],
// input[type='date'],
// input[type='datetime-local'],
// input[type='month'],
// input[type='search'],
// input[type='tel'],
// input[type='time'],
// input[type='week'],
// textarea
// select,
// [multiple] {
//   @apply w-full rounded-md border border-border bg-background text-xs text-foreground placeholder-muted-foreground focus:z-10 focus:border-primary focus:outline-hidden focus:ring-primary;
// }

// input[type='checkbox'],
// input[type='radio'] {
//   @apply h-4 w-4 rounded-sm border-border bg-background checked:border-primary checked:bg-primary indeterminate:border-primary indeterminate:bg-primary focus:ring-2 focus:ring-primary;
// }

// Scrollbar
@supports (-webkit-appearance: none) {
  .supports-scrollbars\:pr-2 {
    padding-right: 0.5rem;
  }
}

